// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/" as *;

.footer {
    background-color:$black ;
    padding: 48px;
    .subtitle {
        font-family: $primary-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
    }
    .media {
        display: flex;
        gap: 20px;
    }
}