@use "../abstracts/" as *;
/*Breakpoint tamaño pequeño de gallery*/
.gallery {
    color: $white-bg;
    margin-bottom: 120px;
    
    /*Breakpoint tamaño mediano de gallery*/
    @include breakpoint(md) {
        margin-left: 20px;
        margin-right: 20px;
    }
    /*Breakpoint tamaño grande de gallery*/
    @include breakpoint(lg) {
        margin-left: 20px;
        margin-right: 20px;
    }
    /*Breakpoint tamaño extra grande de gallery*/
    @include breakpoint(xl) {
        margin-left: 75px;
        margin-right: 75px;
    }
    /*Breakpoint tamaño xxl de gallery*/
    @include breakpoint(xxl) {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    &__container {
        
        &-hero {
            @include breakpoint (md) {
                display: flex;
                flex-direction: row-reverse;
            }
            @include breakpoint(lg) {
                margin-bottom: 5px;
            }
            &-image {
                max-width: 100%;   
                margin-bottom: 10px;
                @include breakpoint(md) {
                    max-width: 50%;
                }
                @include breakpoint(lg) {
                    min-width: 62%;
                    max-height: 325px;
                    margin-left: 30px;
                    object-fit: cover;
                }
                @include breakpoint (xl) {
                    margin-left: 140px;
                    object-fit: cover;

                }
                @include breakpoint(xxl) {
                    max-height: 400px;
                }
            }

            &-intro {
            @include breakpoint(md) {
                max-width: 50%;
            }
            @include breakpoint(lg) {
                max-width: 40%;
            }
            @include breakpoint(xl) {
                max-width: 25%;
                
            }
            &-title {
                font-family: $title-font;
                font-weight: 900;
                font-size: 50px;
                line-height: 45px;
                color: $black;
            }
            &-text {
                font-family: $primary-font;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: $grey-font;
            }
            }
        }

        &-grid {
            @include breakpoint(md) {
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: 50% 50%;
                align-items: stretch;
                gap: 10px;
                margin-right: 12px;
            }
            @include breakpoint(lg) {
                margin-right: -12px;
            }
            &-image--wide {
                max-width: 100%;   
                margin-bottom: 10px;
                @include breakpoint(md) {
                    height: 100%;
                    max-height: 750px;
                    grid-column: 1 / span 1; 
                    grid-row: 1 / span 2; 
                }
                @include breakpoint(xl) {
                    min-width: 525px;
                }

            }
            &-image--square {
                max-width: 100%;   
                overflow: hidden;
                display: flex;
                justify-content: center; 
                align-items: flex-end;
                margin-bottom: 20px;
                @include breakpoint(md) {
                    height: 100%;
                    grid-column: 2 / span 1; 
                    grid-row: 1 / span 1; 
                }
                @include breakpoint(lg) {
                    object-fit: cover;
                    margin-left: -6%;
                    
                }
                @include breakpoint(xl) {
                    object-fit: cover;
                    margin-left: -18%;
                    min-width: 460px;
                }
            }
            &-cta {
                background-color: $black;
                padding: 38px 24px 37px 24px;
                padding-bottom: 47px;
                margin-bottom: 120px;
                @include breakpoint (md) {
                    grid-column: 2 / span 2; 
                    grid-row: 2 / span 1;
                    margin-bottom: 0; 
                }
                @include breakpoint(lg) {
                    padding-bottom: 0px;
                    padding-top: 35px;
                    max-height: 350px;
                    margin-top: 10px;
                    margin-right: 32px;
                    margin-left: -6%;
                }
                @include breakpoint(xl) {
                    margin-left: -18%;
                    margin-right: 5px;
                    max-width: 462px;
                }
                &-title {
                    font-family: $title-font;
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 45px;
                    color: white;
                    margin-bottom: 0;
                }
                &-text {
                    font-family: $primary-font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    color: white;
                }
            }
        }
    }
}